
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet"> 
    <link href="/css/parentRegister.css" rel="stylesheet">
   <script src="/js/jquery.js"></script> 
   <script src="/js/bootstrap.min.js"></script>
    <title>Register</title>
</head>
<body>
    <div class="container" id="container">
        <h1>Parent Register</h1>
        <div class="form-container sign-in-container">
            <div class="card-body">
                <form action = "/parentRegister" method = "POST">
                <label for= "username">Enter Username:</label>
                <input type = "text" name = "username" id = "username"  placeholder = "Username" required>
                
                <label for= "password">Enter Password:</label>
                <input type = "password" name = "password" id = "password"  placeholder = "Password" required>
                
                <label for= "name">Name:</label>
                <input type = "text" name = "parentName" id = "parentName" placeholder = "Name" required>
                
                <label for = "zipCode">Zip Code:</label> 
                <input type = "number" name = "zipCode" id = "zipCode" placeholder = "Zip Code" required> 
                
                <label for = "phoneNum">Phone number</label>
                <input type = "number" name = "phoneNum" id = "phoneNum" placeholder = "Phone number" required>
                <div class="mb-3"><button>Submit</button></div> 
                </form>
            </div>
        </div>
    </div>
  
</body>
</html> 