.container {
   display: flex;
   flex-wrap: wrap;
   margin: 10 px;
   padding: 10 px;
   align-items: center;
   flex-direction: column;
   border: 3px #7cc7eaff solid;
   border-radius: 20px;
   border-spacing: 10px;
   background-color: #a1d1e8ff;
   border-style: ridge;
}

html{
   margin: 2%;
}

h1{
   text-align: center;
}

button{
   color: #44addeff;
   background-color: white;
}

label{
   color: black;
   font-weight: bold;
   text-decoration: underline;
}

ul{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-self: center;
}