<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="registrationstyles.css">
    <title>studentRegister</title>
</head>
<body>
</form>
<h1>Student Registration!</h1>
    <form action='/studentRegister' method='POST'>
    <div class="query">
        <div class="box1">
            <label for='username'>Username</label>
            <input type='text' name='username' placeholder="Please choose a username" id='username'>
        </div>

        <div class="box2">
            <label for='password'>Password</label>
            <input type='text' name='password' placeholder="Please choose a secure password" id='password'>
        </div>

        <div class="box3">
            <label for='studentName'>Student Name</label>
            <input type='text' name='studentName' placeholder="Enter your name" id='studentName'>
        </div>

        <div class="box4">
            <label for='email'>Email</label>
            <input type='text' name='email' placeholder="Enter your email" id='email'>
        </div>

        <div class="box5">
            <label for='phoneNum'>Phone Number</label>
            <input type='number' name='phoneNum' placeholder="Enter your phone number" id='phoneNum'>
        </div>
        
        <div class="box6">
            <label for='grade'>Grade Level</label>
            <input type='number' name='grade' placeholder="Enter your grade level" id='grade'>
        </div>
        
        <div class="box7">
            <label for='school'>School</label>
            <input type='text' name='school' placeholder="Enter your school" id='school'>
        </div>
        
        <div class="box8">
            <label for='zipCode'>Zip Code</label>
            <input type='text' name='zipCode' placeholder="Enter your zip code" id='zipCode'>
        </div>
    </div>
    <br><br><br>
        <button>Sign Up</button>
    </form>
</body>
</html>