//register page
//perhaps will make a partial for the register page and add individual characterstics of each page
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action='/studentRegister' method='POST'>
        <label for='username'>Username</label>
        <input type='text' name='username' placeholder=username id='username'>
        
        <label for='password'>Password</label>
        <input type='text' name='password' placeholder=password id='password'>
        
        <label for='studentName'>Student Name</label>
        <input type='text' name='studentName' placeholder=student-name id='studentName'>

        <label for='email'>Email</label>
        <input type='text' name='email' placeholder=email id='email'>
        
        <label for='phoneNum'>Phone Number</label>
        <input type='number' name='phoneNum' placeholder=phone-number id='phoneNum'>
        
        <label for='grade'>Grade Level</label>
        <input type='number' name='grade' placeholder=grade id='grade'>

        <label for='school'>School</label>
        <input type='text' name='school' placeholder=school id='school'>

        <label for='zipCode'>Zip Code</label>
        <input type='text' name='zipCode' placeholder=zip-code id='zipCode'>
        <button>Sign Up</button>
    </form>
</body>
</html>